h2{
    margin: 20px 0;
}

.event{
    display: block;
    margin: 0 auto;
    width: 100%;
}

.event>img{
    display: block;
    margin: 0 auto;
    width: 90%;
    margin-top: 10px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 2px;
}

.caption{
    padding-bottom: 10px;
}

p{
    padding: 0 20px;
}

.confirmation-message, form{
    margin: 0 20px;
}

.events>input{
    margin-right: 5px;
}

.events>label{
    margin-right: 20px;
}

button{
    margin-right: 10px;
}

form{
    margin-bottom: 20px;
}