nav{
    background-color: rgb(36, 87, 129);
}

a{
    color: white;
}

.navbar-toggler {
    background-color: transparent; /* Make the background transparent */
    border: none; /* Remove the border */
}

.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list' viewBox='0 0 16 16'%3e%3cpath fill-rule='evenodd' d='M1 2.5A.5.5 0 0 1 1.5 2h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 2.5zm0 5A.5.5 0 0 1 1.5 7h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 7.5zM1.5 12a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1h-13z'/%3e%3c/svg%3e");
    background-color: transparent; 
    width: 1.5em; /* Adjust the width of the icon */
    height: 1.5em; /* Adjust the height of the icon */
    background-repeat: no-repeat; 
    background-size: contain; 
}

.navbar-nav .nav-link:active,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link.active {
    color: rgb(165, 212, 251);
} 