video{
    display: block;
    margin: 0 auto;
    width: 90%;
    box-shadow: 0 0 5px;
    border-radius: 10px;
}

h2{
    margin: 20px 0;
}

img{
    width: 90%;
    margin-top: 20px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 2px;
}

a{
    text-decoration: none;
    color: black;
}

p{
    margin-bottom: 20px;
    padding: 10px 20px;
}